body { font: 16px;
	font-family: "Times New Roman", Times, serif;
	line-height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 20mm 20mm 20mm 20mm;  
} 

nav ul, footer ul {
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
	
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

li a{
	color: rgb(0,0,0);
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 { font-family: "Times New Roman", Times, serif;
	margin: 0 0 0 0;
	padding: 0 0 16px 0;
	font-size: 42px; 
	font-weight: bold; 
	letter-spacing: -2px; 
	border-bottom: 1px solid #999; 
	page-break-after: avoid;}
	
h2 { font-size: 20px;
 margin: 0 0 0 0; 
 position: relative;
 page-break-after: avoid; 
 }
 
h2 span { position: absolute; 
bottom: 0; 
right: 0; 
font-style: italic; 
font-family: "Times New Roman", Times, serif;
font-size: 16px; 
color: #999; 
font-weight: normal; 
page-break-after: avoid;}

p { font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
    line-height: 1.2em;
    color: #333;
	margin-right: 1em;
	page-break-inside: avoid;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	font-family: "Times New Roman", Times, serif;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  border: 1mm solid white;
  letter-spacing: 1px;
  font-size: 1rem;
  width:auto;
  height:auto;
  margin: 0 0 2mm 0;
}

td, th {
   padding: 6px 20px;
}

table td, table td * {
    vertical-align: top;
}

th {
  background-color: rgb(255,255,255);
}

td {
  text-align: left;
  valign: top;
}

tr:nth-child(even) td {
  background-color: rgb(255,255,255);
}

tr:nth-child(odd) td {
  background-color: rgb(255,255,255);
}

caption {
  padding: 10px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

<!––new from cv page ––>
dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
dd { width: 600px; float: right; }
dd.clear { float: none; margin: 0; height: 15px; }
.clear { clear: both; }
#page-wrap { width: 800px; margin: auto auto auto auto; }
#pic { float: right; margin: auto auto auto 3px; }

