<!DOCTYPE html>
<html>

<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126964726-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-126964726-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="">
</head>

<body>
	<div class="wrapper-masthead">
		<div class="container">
			<header class="masthead clearfix">
				<a href="/" class="site-avater">
				<img src="https://user-images.githubusercontent.com/34142856/46117362-1bd9b680-c1be-11e8-9ac5-4250830cef54.jpg">
				</a>
				<div class="site-info>
				<h1 class="site-name">
				<a href="/">Maximilian Larter, PhD</a>
				</h1>
				<p class="site-description">Plant Ecology and Evolution</p>
				<nav>
					<a href="/">Home</a>
					<a href="/about.html">About</a>
					<a href="/cv/cv.html">CV</a>
					<!--a> href="/blog">Blog</a-->
				</nav>
				
			</header>
		</div>
	</div>
		
	<footer>
				<a href="mailto:maximilien.larter@gmail.com" target="_blank">email</a>
				<a href="https://github.com/MaxLarter" target="_blank">github.com/MaxLarter</a>
				<a href="https://scholar.google.com/citations?hl=en&user=-WJKy_EAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">My google scholar profile</a>
				<a href="https://twitter.com/MaxLarter" target="_blank">Follow me on Twitter!</a>
			
	</footer>
</body>
</html>
