<!DOCTYPE html>
<html>
		<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126964726-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-126964726-1');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/cv/cv.html">CV</a></li>
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
		</nav>
		
			<div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:maximilien.larter@gmail.com" target="_blank">email</a></li>
        		<li><a href="https://github.com/MaxLarter" target="_blank">github.com/MaxLarter</a></li>
			<li><a href="https://scholar.google.com/citations?hl=en&user=-WJKy_EAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">My google scholar profile</a></li>
			<li><a href="https://twitter.com/MaxLarter" target="_blank">Follow me on Twitter!</a></li>
			</ul>
		</footer>
	</body>
</html>
